@import url('https://fonts.googleapis.com/css?family=poppins:400,500,700');

:root {
    /*width: 1000px;*/
    --red: #E6563B;
    --orange: #EB9D3A;
    --green: #7CB06C;
    --blue: #00ABA9;
    --light-gray: #F0F0F0;
    --gray: #E6E6E6;
  }
.red{
	 background-color: var(--red)
 }
.orange{
	 background-color: var(--orange)
 }
.green{
	 background-color: var(--green)
 }
.blue{
	 background-color: var(--blue)
 }
.light-gray{
	 background-color: var(--light-gray)
 }
.gray{
	 background-color: var(--gray)
 }
body {
    background-color: var(--light-gray);
    /*max-width: 768px;*/
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Anton', sans-serif;
}
p {
  font-family: 'Abel', sans-serif;
}
h1 {
  font-size: 64px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 40px;
}
h4 {
  font-size: 32px;
}
h5 {
  font-size: 28px;
}
/*.row-fix{*/
    /*margin: 0 15px;*/
/*}*/
.row-r{
    text-align: right;
}
.logo_title {
    margin-top: 1.5em;
    width: 105px;
    height: 105px;
}
.logo {
    width: 105px;
    height: 105px;
    border-radius: 50%;
    font-size: 75%;
    line-height: 105px;
    text-align: center;
    font-weight: bolder;
    border: 8px solid white;
    margin: 4px 4px;
    box-sizing: border-box;

}
.icon {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-size: 75%;
    line-height: 18px;
    text-align: center;
    font-weight: bolder;
}
.image-size{
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    border: 5px solid red;
}
.head {
    text-align: center;
    margin: 0;
    padding: 0;
}
.white-bar {
    z-index: -1000;
    position: absolute;
    margin-top: 2.5em;
    width: 100% !important;
}
/* unvisited link */
    a:link {
        color: black;
    }
/* visited link */
    a:visited {
        color: black;
    }
/* mouse over link */
    a:hover {
        color: hotpink;
    }
/* selected link */
    a:active {
        color: black;
    }

/*this is the css for the navbar in small do not touch please*/
ul {

}
.onel {
    margin-right: 50px;
    margin-left: 0;
}
.twol {
    margin-left: 50px;
    margin-right: 0;
}

.ht {
    line-height: 50px;
}
@media screen and (max-width:575px) {
    body {
        background-color: salmon;
    }
    .navbar1 {
        display: none;
        visibility: hidden;
    }
    .yeah2 {
        display: none;
        visibility: hidden;
    }

}


@media screen and (min-width:576px) {
    body {
        background-color: blue;
    }
    .navbar{
        display: none;
        visibility: hidden;
    }
    .yeah2 {
        display: none;
        visibility: hidden;
    }

    /*.nav1 {*/
        /*padding: 0 -10em;*/
        /*text-decoration: none;*/

/*}*/

}
@media screen and (min-width:767px) {
    body {
        background-color: hotpink;
    }
    .logo_title {
        float: left;
    }
    .navbar1 {
        float: right;
    }
    .onel {
        margin-right: 0;
        margin-left: 0;
    }
    .twol {
        margin-left: 0;
        margin-right: 0;
    }
    .yeah1 {
        display: none;
        visibility: hidden;
    }
    /*.yeah2 {*/
        /*display: inline-block;*/
        /*visibility: visible;*/
        /*position: relative;*/
        /*margin: 0;*/
        /*padding: 0;*/
        /*right: 40px;*/
    /*}*/



}